@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #0a0a0a; /* ダーク背景 */
  --foreground: #ededed; /* ダーク文字色 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari 対応 */
  }
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #424eff transparent;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Firefox対応（任意） */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #424eff transparent;
}

@utility prose {
  color: #fff; /* 全体の文字色 */

  h1,
  h2,
  h3,
  h4 {
    color: #60a5fa; /* 見出しの文字色 */
  }

  a {
    color: #60a5fa; /* リンクの色 */
    font-weight: 500;
  }

  strong {
    color: #fff; /* 強調表示の文字色*/
  }

  blockquote {
    color: #fff; /* 引用文の文字色 */
    border-left-color: #333; /* 引用文の左枠色 */
    background-color: #111; /* 引用文の背景色*/
  }

  hr {
    border-color: #fff; /* 水平線の色 */
  }

  code {
    color: #fff; /* コードの文字色 */
    background-color: #333; /* コードの背景色 */
  }

  pre {
    color: #fff; /* プレフォーマットテキストの文字色 */
    background-color: #333; /* プレフォーマットテキストの背景色 */
  }

  th {
    color: #fff; /* 表のヘッダ部分の文字色 */
    border-bottom-color: #333; /* 表のヘッダ部分の下枠色 */
  }

  td {
    border-bottom-color: #333; /* 表のデータ部分の下枠色 */
  }

  figcaption {
    color: #fff; /* 図のキャプション文字色 */
  }
}
